.navbar {
  background-color: #3A6D8C;
 
  font-family: 'Roboto', sans-serif; 
  color: white;
  

}
.navlist {
  display: flex;
  list-style-type: none;
  background-color: #3A6D8C;
  justify-content: space-around;
  text-decoration: none;
  border-top: 1px #001F3F  solid;
  border-bottom: 1px #001F3F solid;
  font-size: 20px;
  padding: 2px;
}

.logo {
  display: flex;
  position: relative;
  width: auto;
  height: 10vw;
  margin-right: 5%;
 
}
.principal {
  display: flex;
 
  
}
.titulos{
  text-align: left;
  padding-top: 20px;
  width: 80%;
}
.principal h2 {
  font-weight: lighter;
  font-style: italic;
}

.carrito {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 30px;
  padding-top: 50px;
  padding-right: 20px;
}

.welcome {
  color: white;
  font-size: xx-large;
}